@font-face {
    font-family: 'Courier New';
    src: url("D:\MY DEV HUB\Learning-Progress\Fonts\Roboto\Roboto-Italic-VariableFont_wdth,wght.ttf");
    font-family: "Roboto-Italic-VariableFont_wdth,wght";
}
@font-face {
    font-family: 'Courier New';
    src: url("D:\MY DEV HUB\Learning-Progress\Fonts\Roboto\Roboto-VariableFont_wdth,wght.ttf");
    font-family: "Roboto";
}

h1{
    font-family: "Roboto-VariableFont_wdth,wght";
}
p{
    font-family: "Roboto-VariableFont_wdth,wght", "Arial", "Helvetica", "Courier New";  
    color: #ff6347;
    font-size: 22px;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    margin-bottom: 15px;
}